*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #262a2c;
    color: white;
}
label{
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6{
    color: var(--brand);
    padding: 5px 15px;
}
header, header .container{
    background-color: #1e2122;
}
.dd{
    background-color: #181a1b;
    padding: 10PX;
    font-size: 17px;
    color: var(--body);
    width: 100%;
    margin-top: 10px;
}
.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 1100px;
    max-width: 100%;
    background-color: #262a2c;
}
.navbar{
    background-color: #1B1D1F; 
    height: 8vh;
}
.navbar .navbar-brand{
    color:var(--brand1);
}
.form-inline{
    display: inline-block;
}
.form-search{
    width: 300px;
}
.form-control{
    background: #181a1b;
    border: gold;
    padding: 8px 12px;
    border-radius: 5px;
    color: whitesmoke;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.search{
    padding: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    background-color: #151718;
}
.list-search{
    width: 130px;
    margin: 0 10px;
}
.search .list-search{
    width: 126px;
    float: left
}
.btn {
    display: inline-block;
}
.dndk{
    float: left;
}
.btn-filter-movie{
    border-radius: 5px;
    border-color: white;
    box-shadow: inset 1px 1px 1px var(--brand);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    color: white;
    margin-top: 29px;
}
img{
    width: 100%;
}
a{
    color: var(--body);
    text-decoration: none;
    transition: all 0.7s ease;
}
a:hover{
    color: white;
}
.movie{
    padding: 5px;
}

.movie-item{
    position: relative;
    margin: 5px;
}
.movie-meta{
    width: 100%;
}
.mobie-name{
    color: #000;
    display: block;
}
.movie-item .movie-meta{
    position: absolute;
    bottom: 0px;
    transition: all 0.7s ease;
    opacity: 0;
}   
.movie-item:hover .movie-meta{
    bottom: 0px;
    background-color: var(--bg2);
    opacity: 0.75;
}
.movie-item .imgh:hover{
    background: var(--bg1);
    opacity: .5;
    transition: all 0.7s ease;
}
.movie-meta p{
    display: inline;
    font-size: small;
    padding: 0 18px;
}
:root {
    --bg1: #151828;
    --bg2: #1B1F34;
    --body: #959dcc;
    --brand: #FFD700;
    --brand1: #FFAB76;
    --white: #fff;
}
.count-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.count-page a{
    width: 42px;
    height: 42px;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.count-page a:hover{
    background-color: var(--brand);
    color: var(--bg2);
}
.schedule{
    display: flex;
    flex-direction: row;
}

.schedule a,
.footer-top .social-links a{
    padding: 10px 15px;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.schedule a:hover{
    background-color: var(--brand);
    color: var(--bg2);
}
.name{
    display: flex;
    flex-direction: row;
}
.name a{
    padding: 10px;
    margin-right: 8px;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.name a:hover{
    background-color: var(--brand);
    color: var(--bg2);
}
.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: #1e2122;
}
.toolbar a{
    padding: 15px;
    font-size: 18px;
}
.toolbar a:hover{
    background-color: var(--bg2);
    color: var(--brand);
}
.content{
    border:1px solid var(--brand1);
    width: 100%;
    min-height: 100px;
    margin: 2px 0px;
    position: relative;
}
.list-top-movie-item-thumb{
    float:left;
    height: 98px;
    width: 70px;
    background-size: cover;
}
.content .status{
    position: absolute;
    background-color: red;
    color: whitesmoke;
    right: 0;
    top: 0;
}
.listall{
    background-color: #151718;
    margin-top: 10px;
}
.content .list-top-movie-item-info{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}
.list-top-movie-item-info .list-top-movie-item-vn{
    font-size: 16px;
    font-weight: bold;
}

.list-top-movie-item-info .list-top-movie-item-en,
.list-top-movie-item-info .list-top-movie-item-view{
    font-size: 14px;
    font-weight: lighter;
    margin-top: 5px;
}
footer{
    padding-top: 50px;
    background-color: var(--bg2);
}
footer .container{
    background-color: var(--bg2);
}

footer .social-links{
    display: flex;
}

footer .social-links a{
    margin-right: 5px;
}   
.footer-bottom{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid var(--brand);
}

.social-links a{
    width: 42px;
    height: 42px;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links a:hover {
    background-color: var(--brand);
    color: var(--bg2);
}
.col-lg-8{
    min-height: 100vh;
    margin-top: 10px;
}
.list-all-film{
    background-color: #151718;
    margin-top: 10px;
    clear: left;
}
.col-lg-4{
    padding-left: 10px;
    margin-top: 10px;
}




/*inf*/
.inf-all{
    background-color: #181a1b;
    margin-top: 10px;
    overflow: auto;
}
.inf-all .inf-avt-link-item-img{
    float:left;
    padding: 8px 10px;
    object-fit: cover;
    width: 50%;
    position: relative;
}
.inf-avt-link-item-img .inf-btn{
    background-color: var(--bg1);
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10px;
}
.inf-btn .btnpd{
    margin: 20px 8px;
}
.inf-all .inf-avt-link-item{
    float: left;
    width: 50%;
}
.inf-avt-link-item-img .imgh{
    width: 100%;
}
.inf-all .inf-avt-link-item-status,
.inf-all .inf-avt-link-item-tap{
    border: 1px solid var(--brand);
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
}
.inf-avt-link-item-name h3{
    margin: 0px;
    padding: 0px;
}
.inf-avt-link-item-name .nho{
    font-size: 15px;
    color: #a8a094;
    font-weight: lighter;
}
.inf-avt-link-item-tap .inf-avt-link-item-tap-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.inf-avt-link-item-tap-list a{
    background-color: var(--bg2);
    color: var(--body);
    padding: 10px 15px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.inf-film{
    clear: left;  
    padding-top:10px ;
}
.inf-film hr{
    color: var(--brand);
}

.inf-avt-link-item-tap-list a:hover{
    background-color: var(--brand);
    color: var(--bg2);
    transform-origin: 10%;
}





.count-tapfilm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #151718;
    padding: 10px;
}
.count-tapfilm a{
    padding: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.count-tapfilm a:hover{
    background-color: var(--brand);
    color: var(--bg2);
}
/* admin */
